extends ../layout

block content
    .jumbotron.jumbotron-fluid
        .container
            h1.display-4 #{name}
            p.lead
                | #{__('Reset your password')}
    .container
        .card
            .card-body
                h4 #{__('Edit your data')}
                hr

                form(data-ajax, method='post', action='')
                    .form-group
                        label #{__('Password')}
                        input.form-control(type='password', name='password')
                        small.form-text.text-muted #{__('Your password need to be safe')}
                    .form-group
                        label #{__('Password confirmation')}
                        input.form-control(type='password', name='password_confirmation')

                    button.btn.btn-primary(type='submit')
                        i.fa.fa-save
                        | &nbsp;#{__('Save')}
