extends layout.pug

block style
    style.
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            text-align: center;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .icon {
            width: 22px;
            margin-left: -38px;
        }


block content
    .container
        form.form-signin(method='post', action='/signin', data-ajax)
            h1.h3.mb-3.font-weight-normal #{__('Log in')}

            .ajax-msg

            label.sr-only() #{__('Username')}
            input#inputEmail.form-control(type='text', placeholder=__('Username'), name='username', required='')

            label.sr-only(for='inputPassword') #{__('Password')}
            input#inputPassword.form-control(type='password', placeholder=__('Password'), name='password', required='')

            button.btn.btn-block.btn-link(type='button', data-target='#lostPassword', data-toggle='modal')
                em
                    small #{__("I've lost my password")}

            button.btn.btn-lg.btn-primary.btn-block(type='submit') #{__('Log in')}
            button.btn.btn-success.btn-block.btn-lg(data-target='#signup', type='button', data-toggle='modal') #{__('Sign up')}
            hr
            a.btn.btn-lg.btn-secondary.btn-block(href='/signin/42')
                img.icon(src='/assets/img/logo_42.png')
                | &nbsp;&nbsp;#{__('Log in with 42')}
            a.btn.btn-lg.btn-light.btn-block(href='/signin/github')
                i.fab.fa-github
                | &nbsp;&nbsp;#{__('Log in with Github')}
            a.btn.btn-lg.btn-info.btn-block(href='/signin/twitter')
                i.fab.fa-twitter
                | &nbsp;&nbsp;#{__('Log in with Twitter')}
            a.btn.btn-lg.btn-danger.btn-block(href='/signin/google')
                i.fab.fa-google
                | &nbsp;&nbsp;#{__('Log in with Google')}


    .modal.fade#lostPassword(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title #{__("I've lost my password")}
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form(method='post', action='/account/lost-password', data-ajax)
                    .modal-body

                        .ajax-msg
                            .alert.alert-info
                                em #{__('A reset mail will be send to allow you to edit your password')}

                        .form-group
                            label Email
                            input.form-control(type='email', placeholder=__("Account's email"), name='email')

                    .modal-footer
                        button.btn.btn-primary(type='submit') #{__('Send email')}

    .modal.fade#signup(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title #{__('Sign up')}
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form(method='post', action='/signup', data-ajax)
                    .modal-body

                        .ajax-msg

                        .form-group
                            label #{__('First name')}
                            input.form-control(type='text', name='name')
                        .form-group
                            label #{__('Last name')}
                            input.form-control(type='text', name='last_name')
                        .form-group
                            label #{__('Username')}
                            input.form-control(type='text', name='username')
                            small.form-text.text-muted #{__("It will be displayed to other users")}
                        .form-group
                            label #{__('Email')}
                            input.form-control(type='email', name='email')
                            small.form-text.text-muted #{__('Your email will be safe')}
                        .form-group
                            label #{__('Password')}
                            input.form-control(type='password', name='password')
                            small.form-text.text-muted #{__('Your password need to be safe')}
                        .form-group
                            label #{__('Password confirmation')}
                            input.form-control(type='password', name='password_confirmation')

                    .modal-footer
                        button.btn.btn-primary(type='submit') #{__('Sign up')}
