extends ../layout

block style
    style.
        .user {
            position: relative;
            margin-top: 70px;
            min-height: 90px;
        }

        .user img {
            border-radius: 50%;
            width: 55%;
            margin-top: -61px;
        }

        .user h3 {
            margin-top: 5px;
        }

        .user {
            text-align: center;
        }

block content
    .container.mt-5

        if !user
            .alert.alert-danger
                h3 Profil incomplet
                | Veuillez renseigner vos informations sur la page de votre compte pour bénéficier des suggestions.
        else
            .row

                each user in users
                    .col-md-3
                        .card.user(data-user-age=user.age, data-user-location=user.location, data-user-popularity=user.popularity, data-user-tags=user.tags)
                            .card-body
                                img.img-thumbnail(src=user.profile_pic)
                                .cleafix
                                h3 #{user.username}
                                hr
                                a.btn.btn-primary(href='/' + user.username)
                                    i.fa.fa-user
                                    | &nbsp;&nbsp;Voir le profil