extends ../layout

block style
    link(rel='stylesheet', href='/assets/css/bootstrap-tagsinput.css')
    style.
        .img-thumbnail {
            margin: 5px;
        }
        .photo {
            display: inline-block;
            position: relative;
        }
        .photo a {
            position: absolute;
            top: -5px;
            right: 0;
        }
        .photo a .badge {
            padding: 10px 12px;
        }
        .photo a:nth-child(2) {
            right: 40px;
        }


block content
    .jumbotron.jumbotron-fluid
        .container
            h1.display-4 #{user.name}
            p.lead
                | Vous êtes inscris #{moment(user.created_at).fromNow()}
    .container
        .row
            .col-md-6
                .card
                    .card-body
                        h4 Modifier mes informations principales
                        hr

                        form(data-ajax, method='post', action='/account', data-ajax-callback='afterInfosUpdate')
                            .form-group
                                label Prénom
                                input.form-control(type='text', value=user.name, name='name')
                            .form-group
                                label Nom
                                input.form-control(type='text', value=user.last_name, name='last_name')
                            .form-group
                                label Nom d'utilisateur
                                input.form-control(type='text', value=user.username, name='username')
                                small.form-text.text-muted Votre pseudo est affiché aux autres utilisateurs
                            .form-group
                                label Email
                                input.form-control(type='email', value=user.email, name='email')
                                small.form-text.text-muted Votre email restera confidentiel

                            button.btn.btn-primary(type='submit')
                                i.fa.fa-save
                                | &nbsp;&nbsp;Sauvegarder


            .col-md-6
                .card
                    .card-body
                        h4 Modifier mon mot de passe
                        hr

                        form(data-ajax, method='post', action='/account/password')
                            .form-group
                                label Mot de passe
                                input.form-control(type='password', name='password')
                                small.form-text.text-muted Votre mot de passe doit être sécurisé
                            .form-group
                                label Confirmation du mot de passe
                                input.form-control(type='password', name='password_confirmation')

                            button.btn.btn-primary(type='submit')
                                i.fa.fa-save
                                | &nbsp;&nbsp;Sauvegarder

        hr
        .row.mt-2
            .col-md-12

                .card
                    .card-body
                        h4 Modifier mon profil
                        hr

                        if (account.gender.length === 0)
                            .alert.alert-warning
                                h4 Remplissez votre profil
                                | Pour accéder complètement aux fonctionnalités du site, veuillez remplir les informations ci-dessous.

                        form(data-ajax, method='post', action='/account/bio')

                            .row
                                .col-md-4
                                    .form-group
                                        label Sexe
                                        select.form-control(name='gender')
                                            option(value='men', selected=account.gender === 'men') Homme
                                            option(value='women', selected=account.gender === 'women') Femme
                                            //option(value='other', selected=account.gender === 'other') Autre
                                .col-md-4
                                    .form-group
                                        label Orientation sexuelle
                                        select.form-control(name='sexual_orientation')
                                            option(value='hetero', selected=account.sexual_orientation === 'hetero') Hétérosexuel
                                            option(value='homo', selected=account.sexual_orientation === 'homo') Homosexuel
                                            option(value='bi', selected=account.sexual_orientation === 'bi') Bisexuel

                                .col-md-4
                                    .form-group
                                        label Âge
                                        input.form-control(type='number', step='1', name='age', value=account.age)

                            .form-group
                                label Biographie
                                textarea.form-control(name='biography', rows=4) #{account.biography}
                                small.form-text.text-muted Fournissez une biographie courte et précise
                            .form-group
                                label Liste d'intérêts
                                input.form-control(type='text', name='tags', data-role='tagsinput', value=account.tags)
                            .form-group
                                label Localisation
                                input.form-control(type='text', name='location', value=account.location)

                            button.btn.btn-primary(type='submit')
                                i.fa.fa-save
                                | &nbsp;&nbsp;Sauvegarder
                            a.btn.btn-outline-success.ml-2.profile-link(href='/' + user.username)
                                i.fa.fa-user
                                | &nbsp; Voir mon profil

        hr
        .row.mt-2
            .col-md-12

                .card
                    .card-body
                        h4 Mes photos
                        hr

                        form(method='post', action='/account/photo', enctype='multipart/form-data' data-ajax, data-ajax-callback='afterPostPhoto')

                            .form-group
                                label Envoyer une photo
                                .custom-file
                                    input#file.custom-file-input(type='file', name='picture')
                                    label.custom-file-label(for='file') Choisir un fichier

                            button.btn.btn-primary(type='submit')
                                i.fa.fa-share-square
                                | &nbsp;&nbsp;Envoyer

                        hr

                        h5 Liste de mes photos

                        .photos-list
                            each photo in photos
                                .photo
                                    img.img-thumbnail(src='/uploads/pics/' + photo.name, width=300, height=300)
                                    if !photo.is_profile_pic
                                        a.set-profile-pic(href='', data-photo-id=photo.id, data-toggle='tooltip' data-placement='top' title='Enregistrer cette photo comme photo de profil')
                                            span.badge.badge-pill.badge-primary
                                                i.fa.fa-thumbtack
                                    a.remove-pic(href='', data-photo-id=photo.id, data-toggle='tooltip' data-placement='top' title='Supprimer cette photo')
                                        span.badge.badge-pill.badge-danger
                                            i.fa.fa-eraser


block scripts
    script(type='text/javascript', src='/assets/js/bootstrap-tagsinput.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=' + googleApiKey + '&libraries=places')
    script(type='text/javascript').
        $('input[type="file"]').on('change', function (e) {
            $(this).parent().find('.custom-file-label').html($(this).val());
        })
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        })
        function initPhotosEvents() {
            $('.remove-pic').unbind('click');
            $('.remove-pic').on('click', function (e) {
                e.preventDefault();
                var button = $(this);
                var photoId = button.attr('data-photo-id');
                var tooltipId = button.attr('aria-describedby');
                $('#' + tooltipId).remove();
                button.parent().remove();
                $.ajax({
                    method: 'DELETE',
                    url: '/account/photo/' + photoId
                })
            });
            $('.set-profile-pic').unbind('click');
            $('.set-profile-pic').on('click', function (e) {
                e.preventDefault();
                var button = $(this);
                var photoId = button.attr('data-photo-id');
                var tooltipId = button.attr('aria-describedby');
                $('#' + tooltipId).remove();
                button.remove();
                $.ajax({
                    method: 'PUT',
                    url: '/account/photo/' + photoId
                })
            });
        }
        initPhotosEvents();
        function afterPostPhoto(req, res) {
            $('input[type="file"]').val('').parent().find('.custom-file-label').html('Choisir un fichier');
            var html = '<div class="photo"><img class="img-thumbnail" src="/uploads/pics/' + res.data.upload.name + '" width="300" height="300"><a class="set-profile-pic" href="" data-photo-id="' + res.data.upload.id + '" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enregistrer cette photo comme photo de profil"><span class="badge badge-pill badge-primary"><i class="fa fa-thumbtack"></i></span></a><a class="remove-pic" href="" data-photo-id="' + res.data.upload.id + '" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer cette photo"><span class="badge badge-pill badge-danger"><i class="fa fa-eraser"></i></span></a></div>'
            $('.photos-list').append(html);
            initPhotosEvents();
            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            })
        }
        function afterInfosUpdate(req, res) {
            $('.profile-link').attr('href', '/' + $('input[name="username"]').val());
        }

        new google.maps.places.Autocomplete(document.querySelector('input[name="location"]'), {});